<!DOCTYPE html>
<html>



<body>

{% extends "layout.html" %}
{% block content %}
<div class="about">

<h1>About</h1>
<p>This is a portfolio site about anything that can be put in a portfolio.</p>


<p>
   <h2> about (adv., prep.)</h2>
<p>
    Middle English aboute, from Old English abutan (adv., prep.), earlier onbutan "on the outside of; around the circumference of, enveloping; in the vicinity of, near; hither and thither, from place to place," also "with a rotating or spinning motion," in late Old English "near in time, number, degree, etc., approximately;" a compound or contraction of on (see on; also see a- (1)) + be "by" (see by) + utan "outside," from ut (see out (adv.)).

    By c. 1300 it had developed senses of "around, in a circular course, round and round; on every side, so as to surround; in every direction;" also "engaged in" (Wist ye not that I must be about my Father's business?), and gradually it forced out Old English ymbe, ymbutan (from PIE root *ambhi- "around") in the sense "round about, in the neighborhood of."

    From mid-13c. as "in the matter, in connection with." From early 14c. as "in partial rotation, so as to face in a different direction." From late 14c. as "near at hand, about one's person." "In a circuitous course," hence "on the move" (late 13c.), and in Middle English "be about to do, be busy in preparation for," hence its use as a future participle in (to be) about to "in readiness, intending." Abouts (late 14c.), with adverbial genitive, still found in hereabouts, etc., probably is a northern dialectal form.

    To bring about "cause or affect" and to come about "happen" are from late 14c. About face as a military command (short for right about face) is first attested 1861, American English.
</p>
</div>

    {% endblock %}

</body>
</html>