<!DOCTYPE html>
<html>
<body>

{% extends "layout.html" %}
{% block content %}
<div class="home">
<h1>CI Bootcamp: Brie</h1>
<p>Hi, this is a Web app I am throwing together as a part of the CI bootcamp.</p>
</div>

{% endblock %}
</body>
</html>