<!DOCTYPE html>
<html>
<head>
    <title>gitlab.com/bcarranza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">






</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">A Web application</h1>
        <strong><nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('all_about') }}">About</a></li>
            </ul>
        </nav></strong>
    </div>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>